.playlist{
    direction: rtl;
}
.sidebar{
    background-color: #D9D9D95E;
    height: 100vh;
    direction: ltr;
}
.videos{
    direction: ltr;
}
.title{
    direction: rtl;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.circle{
    background-color: red;
    padding: 3.5rem 0.1rem;
}


.tooltip-btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* لإظهار الـ tooltip فوق الزر */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
 .contentVideo{
    direction: rtl;
 }
  @media (max-width: 1200px){
    .sidebar{
        height: auto;
    }
    .circle{
    padding:0rem;

    }
    .videos{
        margin-bottom: 8rem;
    }
  }