<footer class="bg-light text-light pt-5">
    <div class="container">
      <div class="row">
        <!-- 1st Block: Terms & Privacy Policy -->
        <div class="col-12 col-lg-3">
          <div class="text-muted small">
            <a href="#" class="text-muted hover-underline">Terms</a> ·
            <a href="#" class="text-muted hover-underline">Privacy Policy</a>
          </div>
        </div>
  
        <!-- 2nd Block: Products -->
        <div class="col-6 col-md-3 col-lg-2">
          <h6 class="font-weight-bold mb-3" style="color: rgb(130 84 248);">Products</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-muted hover-underline">Web Studio</a></li>
            <li><a href="#" class="text-muted hover-underline">DynamicBox Flex</a></li>
            <li><a href="#" class="text-muted hover-underline">Programming Forms</a></li>
            <li><a href="#" class="text-muted hover-underline">Integrations</a></li>
            <li><a href="#" class="text-muted hover-underline">Command-line</a></li>
          </ul>
        </div>
  
        <!-- 3rd Block: Resources -->
        <div class="col-6 col-md-3 col-lg-2">
          <h6 class="font-weight-bold mb-3" style="color: rgb(130 84 248);">Resources</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-muted hover-underline">Documentation</a></li>
            <li><a href="#" class="text-muted hover-underline">Tutorials & Guides</a></li>
            <li><a href="#" class="text-muted hover-underline">Blog</a></li>
            <li><a href="#" class="text-muted hover-underline">Support Center</a></li>
            <li><a href="#" class="text-muted hover-underline">Partners</a></li>
          </ul>
        </div>
        <!-- 4th Block: Company -->
        <div class="col-6 col-md-3 col-lg-2">
          <h6 class="font-weight-bold mb-3" style="color: rgb(130 84 248);">Company</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-muted hover-underline">Home</a></li>
            <li><a href="#" class="text-muted hover-underline">About us</a></li>
            <li><a href="#" class="text-muted hover-underline">Company values</a></li>
            <li><a href="#" class="text-muted hover-underline">Pricing</a></li>
            <li><a href="#" class="text-muted hover-underline">Privacy Policy</a></li>
          </ul>
        </div>
  
        <!-- 5th Block: Subscribe Form -->
        <div class="col-12 col-md-3 col-lg-3">
          <h6 class="text-purple font-weight-bold mb-3" style="color: rgb(130 84 248);">Subscribe</h6>
          <p class="small text-muted">
            Get the latest news and articles to your inbox every month.
          </p>
          <form class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Your email" required>
            <div class="input-group-append">
              <button class="btn btn-purple" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <!-- Bottom Area -->
      <div class="row border-top border-light mt-4 pt-3 text-center">
        <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
          <!-- Social Links -->
          <a href="https://github.com/Zarshenas" target="_blank" class="text-muted mx-2" aria-label="GitHub">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </div>
        <div class="col-md-6 text-end text-md-right">
          <small class="text-muted">Made with ♥ by <a href="" class="text-purple">Ezat</a></small>
        </div>
      </div>
    </div>
  </footer>
  