<div class="container  auth">
    <div class="row d-flex justify-content-center  ">
        <div class="col-md-6 text-center  mt-5 ">
            <div class="text-bold text-danger fs-2 logo m-4">
                <img src="logo.png" alt="" width="70%">
            </div>
            <div class="text-bold text-danger fs-3">Plase Enter Your New Password and OTP</div>
            <div class="col-sm-12 col-md-12 text-bold text-danger fs-2 ">
                <form  class="text-center" (ngSubmit)="onSubmit()" #registerForm="ngForm">
                    <label for="OTP"></label>
                    <input type="text" name="otp" placeholder="Enter Your OTP" class="form-control"  required [(ngModel)]="user.otp">
                    <label for="newPassword"></label>
                    <input type="password" name="newPassword" placeholder="Enter Your New Password" class="form-control" required [(ngModel)]="user.newPassword">
                    <input type="submit" value="send">
                </form>
            </div>
        </div>

    </div>
</div>
<div class=" footer">
    <app-footer></app-footer>
</div>