.edit-playlist-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .btn {
    margin-top: 10px;
  }
  
  .title{
    white-space: nowrap; 
    width: 250px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.rtl{
    direction: rtl;
}
form {
    text-align: center;
}
form button{
    text-align: center;
    padding: 0.5rem 2rem;
}
.remove{
 cursor: pointer;
}