
.Videos{
    direction: rtl;
}
.imgVideo{
    width: 80%;
}
.title{
    direction: rtl;
    white-space: nowrap; 
    width: 250px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.view{
    direction: rtl;
}
.contentBody{
    display: block;
}

@media (max-width: 1200px){
    .contentBody{
        display: flex;
        justify-content: space-between;
    }
    .Videos{
        border: 1px solid #333;
        box-shadow: 5px 5px 20px #333;
    }
  }