.myVideo{
    direction: rtl;
    margin-bottom: 8rem;
}
.box{
    width: 310px;
}
.imgVideo{
    width: 100%;
}
.title{
    white-space: nowrap; 
    width: 250px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
a{
    text-decoration: none;
}