.boxCurd{
    margin: 2rem 0rem 8rem;
    line-height: 1;
}

.myVideo{
    direction: rtl;
}
.box{
    width: 310px;
}
.imgVideo{
    width: 100%;
}
.title{
    white-space: nowrap; 
    width: 250px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
a{
    text-decoration: none;
}
.items,.row{
    direction: rtl;
    margin-bottom: 2rem;
}

.items-2{
    margin-bottom: 5rem;
}
.boxPlaylist{
    width: 310px;
    border-top: 5px solid red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imgProfile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}