<div class="container auth">
    <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-md-6 row border p-5 rounded shadow">
            <div class="col-sm-12 col-md-12 text-bold text-danger fs-2 m-2">
                <form class="text-start" (ngSubmit)="onSubmit()" #registerForm="ngForm">
                    <label for="userName" class="mt-3 fs-5 fw-bold">UserName</label>
                    <input type="text" name="userName"  class="form-control" required [(ngModel)]="user.userName">
                    <label for="email" class="mt-3 fs-5 fw-bold">Email User</label>
                    <input type="email" name="email"  class="form-control" required [(ngModel)]="user.email">
                    <label for="password" class="mt-3 fs-5 fw-bold">Password User</label>
                    <input type="password" name="password" class="form-control" required [(ngModel)]="user.password ">
                    <label for="county" class="mt-3 fs-5 fw-bold" >County</label>
                    <input type="text" name="county" class="form-control" required [(ngModel)]="user.country">
                    <label for="dateOfBrith" class="mt-3 fs-5 fw-bold">Date Of Brith</label>
                    <input type="date" name="dateOfBrith" class="form-control" required [(ngModel)]="user.dateOfBirth">

                    <input type="submit" value="send">
                    
                </form>
            </div>
        </div>
        <div class="col-md-6 row  d-flext align-items-center">
            <div class="col-sm-12 col-md-12 text-bold text-danger fs-2 logo">
                <img src="logo.png" alt="" width="70%">
            </div>
        </div>
    </div>
</div>
<div class=" footer">
    <app-footer></app-footer>
</div>