<div class="container mt-5">
    @if(Subscriptions.length>0){
        <div class="row d-flex justify-content-center">
            @for (item of Subscriptions; track $index) {
                <div class="col-md-3 d-flex align-items-center">
                    <div><img src={{item.profilePicture}} alt=""></div>
                    <div class="nemaUser m-2 fw-bold fs-5">{{item.userName}}</div>
                </div>
            }
        </div>
    }
    @else {
        <div class="row text-center">
                <div class="fs-1 text-secondary " >I am not subscribed to any channel at the moment</div>
        </div>
    }


</div>