<div class="row p-3 text-center">
    @if (user.role=='Admin') {
        <div class="col-md-10 d-flex align-items-center">
            <img [src]="user.profilePicture" alt="" width="50px" class="imgUser">
            <div class="m-1 fs-5 fw-bold">{{user.userName}}</div>
        </div> 
    }
    @if (user.role=='User') {
        <div class="col-md-3 d-flex align-items-center">
            <a routerLink="/home/profile"><img [src]="user.profilePicture" alt="" width="50px" class="imgUser"></a>  
            <div class="m-1 fs-5 fw-bold">{{user.userName}}</div>
        </div> 
    }
    @if (user.role !=='User' && user.role!=='Admin'){
        <div class="col-md-2">
            <a class="btn  btn-dark text-danger" routerLink="/auth">Sign In</a>
        </div>
    }
    @if (user.role!=='Admin') {
    <div class="col-md-7 search">
        <form >
            <input type="search" class="form-control">
        </form>
    </div>        
    }

    <div class="col-md-2">
        <img src="logo.png" alt="" width="60%">
    </div>
</div>